{% extends 'core/index.html' %}
{% block yield %}
	<div class='container-fluid content_padding'>
		<div class='row-fluid'>
			<h3>Team </h3>
			<center>
				<table class='team_picture'>
					<tbody>
						<tr>
							<td>
								<center>夏宇</center>
							</td>
							<td>
								<center>杨守仁</center>
							</td>
							<td>
								<center>孙懿琪</center>
							</td>
							<td>
								<center>佟馨</center>
							</td>
							<td>
								<center>赵伟辰</center>
							</td>
						</tr>
						<tr>
							<td>
								<div class='thumb_effect'>
									<a href="#xiayu">
										<img src="/static/vendor/utility/smile.jpg">
									</a>
								</div>
							</td>
							<td>
								<div class='thumb_effect'>
									<a href="#xiayu">
										<img src="/static/vendor/utility/smile.jpg">
									</a>
								</div>
							</td>
							<td>
								<div class='thumb_effect'>
									<a href="#xiayu">
										<img src="/static/vendor/utility/smile.jpg">
									</a>
								</div>
							</td>
							<td>
								<div class='thumb_effect'>
									<a href="#xiayu">
										<img src="/static/vendor/utility/smile.jpg">
									</a>
								</div>
							</td>
							<td>
								<div class='thumb_effect'>
									<a href="#xiayu">
										<img src="/static/vendor/utility/smile.jpg">
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</center>
		</div>
	</div>
{% endblock %}
