{% extends 'core/index.html' %}

{% block title %}用户反馈{% endblock %}

{% block contact_us %}
    <div class='row-fluid' style='margin-left:30%'>
    <div class="span5">
                        <form class="form contact" action="mailto:dotcom900825@gmail.com" method="post" enctype="text/plain">
                            <fieldset>
                                <h2>请给我们留下你的宝贵意见</h2>
                                <p>（留言同时请留下您的联系方式，我们不会泄露您的隐私）</p>
                                <br />
                                <div class="control-group">
                                    <label class="control-label" for="contact-name">名字</label>
                                    <div class="controls">
                                        <input class="span12" type="text" name="contact-name" id="contact-name" placeholder="你的名字" />
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="contact-email">电子邮箱</label>
                                    <div class="controls">
                                        <input class="span12" type="text" name="contact-email" id="contact-email" placeholder="邮箱地址" />
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="contact-phone">手机</label>
                                    <div class="controls">
                                        <input class="span12" type="text" name="contact-phone" id="contact-phone" placeholder="手机号码" />
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    <label class="control-label" for="contact-message">反馈意见</label>
                                    <div class="controls">
                                        <textarea class="span12" rows="8" name="contact-message" id="contact-message" placeholder="你希望增加的功能，指出网站存在的bug，或者页面布局建议，我们都希望听到你的声音"></textarea>
                                    </div>
                                </div>
                                
                                <input class="btn btn-large btn-info" type="submit" value="提交" name="submit" />
                                
                            </fieldset>
                        </form>
    </div>
</div>
{% endblock %}
