{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block content_title %}<h3 class="content-title">和 {{ recipient }} 的对话</h3>{% endblock %}

{% block content %}
<a href="{% url userena_umessages_compose_to recipient.username %}" class="btn btn-info"><span style='color:white'>{% trans "回复" %}</span></a>
<ul id="messages">
{% for message in message_list %}
<li class="{% if message.sender == user %}send{% else %}received{% endif %}">
  <img src="{{ message.sender.get_profile.get_mugshot_url }}" class="avatar {% if message.sender == user %}send{% else %}received{% endif %}" />
  <div class="message-content">
    {{ message }}
    <p class="date">{{ message.sent_at }}</p>
  </div>
  
</li>
{% endfor %}
</ul>
{% endblock %}

