<!-- {% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block content_title %}<h2>{% blocktrans %}Conversation with {{ recipient }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

<ul>
{% for message in message_list %}
<li>
  {{ message }}
  <p>{% blocktrans with message.sent_at as sent_at %}Received on {{ sent_at }}{% endblocktrans %}</p>
</li>
{% endfor %}
</ul>
{% endblock %}
-->

{% extends 'umessages/base_message.html' %}

{% block content_title %}<h2 class="content-title">Conversation with {{ recipient }}</h2>{% endblock %}

{% block content %}
<a href="{% url userena_umessages_compose_to recipient.username %}" class="button"><span>{% trans "Reply" %}</span></a>
<ul id="messages">
{% for message in message_list %}
<li class="{% if message.sender == user %}send{% else %}received{% endif %}">
  <img src="{{ message.sender.profile.get_mugshot_url }}" class="avatar {% if message.sender == user %}send{% else %}received{% endif %}" />
  <div class="message-content">
    {{ message }}
    <p class="date">{{ message.sent_at }}</p>
  </div>
  
</li>
{% endfor %}
</ul>
{% endblock %}

