{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "注册即将完毕" %}{% endblock %}

{% block content_title %}<h2>{% trans "注册" %}</h2>{% endblock %}

{% block content %}
<p>{% trans "欢迎你加入喜拾网" %}</p>

{% if userena_activation_required %}
<p>{% blocktrans %}你会收到一封激活确认邮件.{% endblocktrans %}</p>
<p>{% blocktrans %}We will store your signup information for {{ userena_activation_days }} days on our server. {% endblocktrans %}</p>
{% else  %}
<p>{% blocktrans %}现在可以使用你的用户名和密码登录了.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
