{% extends 'core/index.html' %}

{% block title %}Recent Pins{% endblock %}

{% block yield %}
	<div class='row'>
            <div class='span4'>
                <img src="{{user.get_profile.socialImageUrl}}">
            </div>
    </div>
    
    <div id="pins"></div>
    <div id="loader" class="container">
        <div class="row">
            <div class="span2 offset5">
                <img src="/static/core/img/loader.gif" alt="Loader">
            </div>
        </div>
    </div>
{% endblock %}
