{% extends 'core/index.html' %}

{% block waterfall_js %}  <script src="/static/accounts/js/account_waterfall.js"></script> {% endblock %}
{% block title %}Recent Pins{% endblock %}

{% block yield %}
	<div class='row'>
            <div style='margin-left:' class='span4'>
                <img  src="{{user.get_profile.socialBigImageUrl}}">
            </div>
    </div>
    
    <div id="pins"></div>
    <div id="loader" class="container">
        <div class="row">
            <div class="span2 offset5">
                <img src="/static/core/img/loader.gif" alt="Loader">
            </div>
        </div>
    </div>
{% endblock %}
