{% extends 'core/index.html' %}

{% block title %}Recent Pins{% endblock %}

{% block yield %}
	<div class='row' style='margin:20px 0 20px -20px'>
            <div class='span4'>
                <p style='font-size:20px'>
                    卖掉闲置物品的同时，认识新的朋友！
                </p>
            </div>
    </div>
    
    <div id="pins"></div>
    <div id="loader" class="container">
        <div class="row">
            <div class="span2 offset5">
                <img src="/static/core/img/loader.gif" alt="Loader">
            </div>
        </div>
    </div>
{% endblock %}
