{% extends 'core/index.html' %}

{% block waterfall_js %}
    <script src="/static/core/js/pinry.js"></script>
{% endblock %}

{% block title %}Recent Pins{% endblock %}

{% block yield %}
	<div class='row' style='margin:20px 0 20px -20px'>
            <div class='span4'>
                <p style='font-size:20px'>
                    出闲置,可易物,可换米,亦可得知音.
                </p>
            </div>
    </div>
    
    <div id="pins"></div>
    <div id="loader" class="container">
        <div class="row">
            <div class="span2 offset5">
                <img src="/static/core/img/loader.gif" alt="Loader">
            </div>
        </div>
    </div>
{% endblock %}
